.notification {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12rem;
  height: 4rem;
  padding: 0 0.5rem;
  border-radius: 12px;

  z-index: 1;
  animation: slide-down 2s ease-out forwards;
}

.success {
  background-color: #80ff80;
}

.error {
  background-color: #ff8080;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
